body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.header {
    background: #e74c3c;
    color: white;
    text-align: center;
    padding: 18px;
    font-size: 20px;
    font-weight: bold;
}

input[type="file"] {
    display: block;
    margin: 15px auto;
    font-size: 16px;
}

.group-title {
    background: #f1c40f;
    margin: 15px;
    padding: 12px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.flight-card {
    background: white;
    margin: 10px 15px;
    padding: 18px;
    border-radius: 12px;
    font-size: 18px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.2s;
}

.flight-card:active {
    transform: scale(0.97);
}

.flight-card.selected {
    background: #2ecc71;
    color: white;
}
